/*-------------------------------------
Fonts Setup
---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@400;700&family=Poppins&display=swap');
/*-------------------------------------
Color Setup
---------------------------------------*/
:root {
    --primary: #222222;
    --primary-dark: #1D1D1D;
    --black: #010101;
    --gray-1: #545454;
    --gray-2: #E2DFEE;
    --white: #FFFFFF;
    --white2: #F8F4F5;
    --body: #F6EFE8;
    --body-2: #040404;
    --navbar: #110C2C;
    --cta-1: #68B8FC;
    --cta-1-dark: #5685C7;

    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

/*-------------------------------------
Button Setup
---------------------------------------*/
.btn {
    border-radius: 20px;
}

.btn-light {
    background-color: var(--body);
    border-color: var(--gray-2);
    padding: 7px 20px;
    font-family: 'Fredoka';
}

.btn-dark:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}
.btn-primary {
    padding: 15px 30px;
    background-color: var(--cta-1);
    border: none;
    font-size: var(--text-medium);
    color: var(--primary-dark);
    font-weight: var(--font-weight-bold);
    margin-top: 20px;
}
.btn-primary:hover {
    background-color: var(--cta-1-dark);
}

body {
    font-family: 'Montserrat';
    background-color: var(--body-2);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--gray-1);
}

.navbar {
    padding: 48px 0;
}

nav .container-fluid {
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
}

nav .navbar-brand img {
    width: 170px;
    height: auto;
}

nav .nav-items {
    display: flex;
    align-items: center;
}

nav .item {
    font-family: 'Fredoka';
    text-align: center;
    padding: 0 30px;
}



/*-------------------------------------
Hero Section
---------------------------------------*/
section.hero {
    margin-top: 3rem 0;
}

.text-label,
.text-hero-regular {
    margin: 5px 0;
}

.text-label {
    color: var(--white);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
    font-family: 'Poppins';
}
.text-hero-regular {
    color: #222222;
    font-size: var(--text-light);
    font-weight: var(--font-weight-regular);
    line-height: 25px;
}

/*-------------------------------------
Partners Section
---------------------------------------*/
.partner {
    background: #222222;
    color: #A9ABAC;
    font-weight: var(--font-weight-semi-bold);
    font-size: 20px;
}
.partner .img {
    padding: 20px 0;
}

/*-------------------------------------
What We Do Section
---------------------------------------*/
.wwd {
    margin: 6rem 0;
}

.wwd .tag-title{
    background-color: #8B8F68;
    color: #000000;
    font-weight: var(--font-weight-bold);
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.wwd .title-label{
    padding: 7px 0;
    font-size: 40px;
    color: var(--white);
    font-weight: var(--font-weight-semi-bold)
}

.wwd .info-label{
    padding: 5px 0;
    color: var(--white2);
    font-size: 20px;
    opacity: 70%;
}

/*-------------------------------------
Benefits Section
---------------------------------------*/
.benefits i {
    font-size: 30px;
    color: var(--primary);
}
.benefits .title_benefits {
    color: var(--white);
    font-size: 30px;
    font-weight: var(--font-weight-semi-bold);
}
.benefits .title_df {
    color: #68B8FC;
}
.benefits .benefits_titles {
    font-weight: var(--font-weight-semi-bold);
    margin: 7px 0;
}
.benefits .benefits_description {
    opacity: 70%;
}

.benefits .benefit_box {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    margin: 20px 10px;
}
.benefits .inside_icon {
    background-color: var(--white);
    padding: 5px 5px;
    margin: 10px 0;
    border-radius: 15px;
}


/*-------------------------------------
Categories Section
---------------------------------------*/
section.categories {
    padding: 60px 0;
}
section.categories .nav-link {
    color: var(--black);
}
section.categories .nav-link.active {
    background-color: var(--primary);
}
section.categories .btn-secondary {
    background-color: var(--white);
    border-color: var(--white);
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
section.categories .btn-dark {
    padding: 0 10px;
}
section.categories #op {
    width: 54px;
    height: 54px;
}
section.categories #op-text {
    width: 400px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding-left: 15px;
}
section.categories #op-div {
    padding: 55px 0;
}
section.categories #card-card {
    padding-bottom: 30px;
}
/*-------------------------------------
Advantages Section
---------------------------------------*/
section.advantages {
    padding: 80px 0;
}
section.advantages #advantage-text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    padding-top: 60px;
    padding-bottom: 30px;
}
section.advantages #title-advantage {
    padding-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
section.advantages #op-advantage {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


/* Mobile Version Only */
@media (max-width: 575.98px) {
    .navbar {
        padding: 28px 0;
    }

    section.hero {
        margin: 2rem 0;
        text-align: center;
    }

    .btn {
        margin: 1rem 0;
    }

    .text-label,
    .text-hero-regular {
        text-align: center;
    }

    .text-label {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }

    .section-hero img {
        margin: 2rem 0;
        display: none;
    }

    .wwd {
        padding: 0 20px;
    }
    
    .wwd img {
        margin-bottom: 30px;
    }

    .wwd .tag-title{
        background-color: #8B8F68;
        color: #000000;
        font-weight: var(--font-weight-bold);
        padding: 7px 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    
    .wwd .title-label{
        padding: 5px 0;
        font-size: 20px;
        color: var(--white);
        font-weight: var(--font-weight-semi-bold);
        text-align: center;
    }
    
    .wwd .info-label{
        color: var(--white2);
        font-size: 17px;
        opacity: 70%;
        text-align: center;
    }

    .benefits{
        margin: 3rem 0;
    }
    .benefits .title_benefits,
    .title_df {
        font-size: 10px;
    }
}

/* Tablet Small Version Only */
@media (max-width: 767.98px) {
    .navbar {
        padding: 28px 0;
    }

    section.hero {
        margin: 1rem 0;
    }
    .text-label {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-4);
        line-height: 50px;
    }

    .section-hero img {
        margin: 2rem 0;
    }

    .btn-primary {
        margin-top: 5px;
        padding: 10px 20px;
    }

    .wwd .tag-title{
        background-color: #8B8F68;
        color: #000000;
        font-weight: var(--font-weight-bold);
        padding: 7px 10px;
        border-radius: 10px;
        font-size: 12px;
    }
    
    .wwd .title-label{
        padding: 5px 0;
        font-size: 25px;
        color: var(--white);
        font-weight: var(--font-weight-semi-bold);
    }
    
    .wwd .info-label{
        color: var(--white2);
        font-size: 16px;
        opacity: 70%;
    }
    .benefits .title_benefits,
    .title_df {
        font-size: 16px;
    }

}

/*Tablet Medium & Large Version */
@media (max-width: 991.98px) {
    .navbar {
        padding: 28px 0;
    }

    section.hero {
        margin-top: 1rem 0;

    }
    .text-label {
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 45px;
    }

    .section-hero img {
        margin: 2rem 0;
    }

    .btn-primary {
        margin-top: 5px;
        padding: 7px 15px;
    }

    .wwd .tag-title{
        background-color: #8B8F68;
        color: #000000;
        font-weight: var(--font-weight-bold);
        padding: 3px 5px;
        border-radius: 10px;
        font-size: 15px;
    }
    
    .wwd .title-label{
        font-size: 20px;
        color: var(--white);
        font-weight: var(--font-weight-semi-bold);
    }
    
    .wwd .info-label{
        color: var(--white2);
        font-size: 14px;
        opacity: 70%;
    }

    .benefits {
        margin-top: rem;
    }
    .benefits i {
        font-size: 20px;
    }

    .benefits .inside_icon {
        padding: 2px 5px;
    }
    .benefits .title_benefits {
        font-size: 20px;
        margin-top: 10px;
    }
    .benefits .title_df {
        font-size: 20px;
    }
    .benefits .benefits_titles {
        font-size: 15px;
    }
    .benefits .benefits_description {
        font-size: 12px;
    }

}

/* Desktop Version Only */
@media (max-width: 1199.98px) {
    .container {
        width: 84%;
    }
}